@import "tailwindcss";
@import "./tokens.css";
@import "./theme.css";

@source "./**/*.{ts,tsx}";

@variant hover (&:hover);

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--primitive-color-neutral-100);
  color: var(--semantic-color-text-primary);
}
